/* CSS RESET */

/* * {border: black solid;} */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: 'Roboto';
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}




/* Landing */

.landing {
  height: 100vh;
  background: url("../images/yura-lytkin-RmsojUccY4I-unsplash.jpg");
  background-size: cover; 
  background-position: 40% 100%; 
  color: white;
  font-weight: 700;
}

nav {
  height: 10dvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, .sign-in {
  margin: 0 3rem;
  padding: 0 1rem;;
  z-index: 1;
}

h1 {
  font-size: 32px;
  background-color: red;
  color: white;
}

h1:hover {
  color: black;
  cursor: pointer;
}

.sign-in {
  display: flex;
  align-items: center;
}

.user-icon {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}

.sign-in-text {
  padding-left: 4px;
}

.sign-in:hover img, .sign-in:hover .sign-in-text {
  color: black;
  filter: grayscale(100%);
  cursor: pointer;
}

.splash {
  height:90dvh;
  position: relative;
}

.location {
  position: absolute;
  left: 20px;
  bottom: 0;
  font-size: 100px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.overview, .book, .user-dashboard {
  height: 100vh;
}

/* ASIDE */

.scroll-nav-container {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 2rem;
  z-index: 1;
  display: flex;
  align-items: center;
}

.scroll-nav {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  color: red;
  font-weight: 700;
  background-color: white;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 1px 2px;
}

.nav-item:hover, .sign-in-text:hover {
  cursor: pointer;
  color: black;
}




/* DASHBOARD */

.upcoming, .past {
  display: flex;
  flex-direction: column;
  align-items:center
}

.user-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
}

.table-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 75vw;
  height: 60vh;
  column-gap: 32px;
}

table {
  border: solid;
  width: 100%;
  text-align: center;
}

.total-expense {
  align-self: end;
  margin-right: 1rem;
}